.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: none;
  background: none;
}

.icon-button:active {
  background-color: rgb(200, 200, 200);
}

#button-size-sm {
  height: 16px;
  width: 16px;
}
#button-size-md {
  height: 24px;
  width: 24px;
}
#button-size-lg {
  height: 32px;
  width: 32px;
}
#button-icon-size-sm {
  height: 8px;
  width: 8px;
}
#button-icon-size-md {
  height: 16px;
  width: 16px;
}
#button-icon-size-lg {
  height: 24px;
  width: 24px;
}
