.future-forecast-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.future-forecast-table-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.future-forecast-table-row-item {
  text-align: right;
}

#precipitation-column {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
