.future-container {
  width: 600px;
  flex-direction: column;
  border-radius: 16px;
  padding: 8px 16px;
}

.future-data-container {
  flex-direction: column;
  row-gap: 8px;
}

.future-row-data {
  border-radius: 12px;
  padding: 8px 16px;
  width: 96%;
  justify-content: space-between;
}

.future-precipitation-container {
  width: 32%;
  justify-content: space-between;
}

.future-precipitation {
  width: 50%;
}

.future-temperature {
  width: 24%;
  padding-right: 16px;
  justify-content: space-between;
}
