.current-day-forecast-container {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  column-gap: 24px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.current-day-data {
  height: 100%;
}

.current-day-images {
  height: 100%;
}
