.current-day-forecast-container {
  width: 96%;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 500px;
}

.current-day-data {
  height: 100%;
}

.current-day-images {
  height: 100%;
}

@media (width < 400px) {
  .current-day-forecast-container {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
  }
}
