.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-comp{
  background: url(./pictures/gradient-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  max-height: max-content;
}

/* ##### Heading Section ##### */
#logo-comp{
  grid-column: 1/2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  margin-left: 100px;
}

.nav-comp{
  margin-top: 50px;
  grid-column: 1/6;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 30% 20% 25% 25%;
  justify-self: center;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  width: 1000px;
  background: linear-gradient(45deg,#cfd6e6,#e7eff9 );
}

.nav-sec{
  display: inline-block;
  align-self: center;
  justify-self: center;
}

/* ##### Body Section ##### */
.main-comp{
  max-width: 500px;
  grid-column: 1/6;
  grid-row: 2;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  align-self: center;
  justify-self: center;
  column-gap: 10px;
}

.card-comp{
  align-self: center;
  justify-self: center;
  border-color: red;
  border: 2px solid rgb(194, 194, 194);
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 20px;
  color: black;
  background: linear-gradient(45deg,#cfd6e6,#e7eff9 );
}
#main-card-comp{
 grid-column: 1/4;
 grid-row: 1;
 width: 300px;
 height: 200px;
 margin-right: 50px;
}

#sub-card-comp{
 grid-column: 1/6;
 grid-row: 2;
 height: 300PX;
 width: 650PX;
 margin-top: 25px;
 margin-left: 50%;
 margin-right: 55%;
 display: grid;
 grid-template-columns: 20% 20% 20% 20% 20%; 
 grid-template-rows: auto;
}

#extra-card-comp{
  grid-column: 4/6;
  grid-row: 1;
  width: 200px;
 height: 200px;
}

#sub-title{
  grid-column: 1/6;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

#mini-card{
  display: inline;
  grid-row: 2;
  height: 200px;
  width: 65px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

/* ##### Footer Section  #####*/

#main-footer{
  grid-column: 1/6;
  justify-self: center;
  align-self: center;
}