.app-container {
  background-image: linear-gradient(#0f2027, #203a43, #2c5364);
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  padding-top: 32px;
  color: white;
  overflow: hidden;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}

.show-border {
  border: 2px solid "black";
}
