.future-forecast-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 4px 8px;
  text-align: justify;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  max-height: 480px;
}

.future-forecast-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.future-forecast-table-row {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 16px;
}

.future-forecast-table-row-item {
  width: 24%;
  text-align: right;
}

#precipitation-column {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
