.future-forecast-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-align: justify;
  min-width: 300px;
  height: 100%;
  max-height: 580px;
}

.future-forecast-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.future-forecast-table-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.future-forecast-table-row-item {
  text-align: right;
}

#precipitation-column {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
